* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: rgb(237, 237, 237);
}

/* Nav menu */
.header-section {
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-menu li {
  margin-right: 1rem;
  cursor: pointer;
}

.nav-menu a {
  color: #000;
}

.nav-menu a:hover {
  color: rgb(2, 2, 143);
  transition: 0.5s ease;
}

/* Booklist main section */

.heading {
  text-align: center;
  margin: 30px auto 50px;
}

.books-list {
  border: 4px solid #000;
  border-radius: 15px;
  width: 60%;
  margin: auto;
}

.book-form button {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  padding: 3px;
  border: 3px solid #000;
  box-shadow: 3px 3px;
}

.books-list li {
  width: auto;
  list-style: none;
  display: flex;
  padding: 15px;
  align-items: center;
}

.books-list li:nth-child(odd) {
  background-color: rgb(202, 202, 202);
}

.books-list li button {
  background: white;
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  border: 4px solid #000;
  box-shadow: 3px 3px;
}

.book-form {
  width: 30%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-form h1 {
  margin-bottom: 15px;
}

.book-form input {
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid #000;
  font-weight: 600;
  padding: 10px 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  height: 80vh;
  font-size: 25px;
}

footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  padding: 1rem;
}

.hide {
  display: none;
}

.active {
  display: contents;
}

@media only screen and (max-width: 768px) {
  .books-list {
    width: 95%;
  }

  .book-form {
    width: 65%;
  }
}
